<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-room-recording" version="0.0.2">
  <name>Cordova Plugin Room Recording</name>
  <description>room recording</description>
	<engines>
		<engine name="cordova-android" version=">=7.1.0" />
	</engines>
  <js-module src="www/RoomRecording.js" name='RoomRecording' >
    <clobbers target="RoomRecording" />
  </js-module>

  <!-- Android -->
  <platform name="android" kotlin="1.3.60">

   <config-file target="res/xml/config.xml" parent="/*">
      <feature name="RoomRecording">
        <param name="android-package" value="jp.rabee.CDVRoomRecording"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <!-- for permission -->
    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />   
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>
    <!-- soruce -->
    <source-file src="src/android/CDVRoomRecording.kt" target-dir="app/src/main/kotlin/jp/rabee"/>

    <!--gradle file-->
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <!--for support kotlin-->
    <hook type="after_platform_add" src="scripts/android/copy_build_extras.js" />
    <hook type="after_plugin_add" src="scripts/android/copy_build_extras.js" />
  </platform>
  
  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="RoomRecording">
        <param name="onload" value="true" />
        <param name="ios-package" value="CDVRoomRecording" />
      </feature>

      <preference name="deployment-target" value="10.0" />
    </config-file>

    <source-file src="src/ios/CDVRoomRecording.swift" />
    <source-file src="src/ios/CDVRoomRecording-Bridging-Header.h" />
    <source-file src="src/ios/AgoraMediaDataPlugin.h" />
    <source-file src="src/ios/AgoraMediaDataPlugin.mm" />
    <source-file src="src/ios/AgoraMediaRawData.h" />
    <source-file src="src/ios/AgoraMediaRawData.m" />

    <!-- ios -->
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org"/>
      </config>
      <pods use-frameworks="true">
        <pod name="AgoraRtcEngine_iOS" spec="~> 3.0.1.1" />
      </pods>
    </podspec>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>
</plugin>
